In [11]:
import numpy as np
import pandas as pd
import pickle

In [12]:
filename = 'heart.csv'

## Using Pandas

In [13]:
df = pd.read_csv(filename)
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

## Using Numpy

In [14]:
data = np.loadtxt(filename, delimiter=',', skiprows=1)
data

array([[63.,  1.,  3., ...,  0.,  1.,  1.],
       [37.,  1.,  2., ...,  0.,  2.,  1.],
       [41.,  0.,  1., ...,  0.,  2.,  1.],
       ...,
       [68.,  1.,  0., ...,  2.,  3.,  0.],
       [57.,  1.,  0., ...,  1.,  3.,  0.],
       [57.,  0.,  1., ...,  1.,  2.,  0.]])

In [33]:
data = np.genfromtxt(filename, delimiter=',', dtype=None, names=True, encoding='utf-8-sig')
data[:5]

array([(63, 1, 3, 145, 233, 1, 0, 150, 0, 2.3, 0, 0, 1, 1),
       (37, 1, 2, 130, 250, 0, 1, 187, 0, 3.5, 0, 0, 2, 1),
       (41, 0, 1, 130, 204, 0, 0, 172, 0, 1.4, 2, 0, 2, 1),
       (56, 1, 1, 120, 236, 0, 1, 178, 0, 0.8, 2, 0, 2, 1),
       (57, 0, 0, 120, 354, 0, 1, 163, 1, 0.6, 2, 0, 2, 1)],
      dtype=[('age', '<i4'), ('sex', '<i4'), ('cp', '<i4'), ('trestbps', '<i4'), ('chol', '<i4'), ('fbs', '<i4'), ('restecg', '<i4'), ('thalach', '<i4'), ('exang', '<i4'), ('oldpeak', '<f8'), ('slope', '<i4'), ('ca', '<i4'), ('thal', '<i4'), ('target', '<i4')])

## Manual Loading

In [23]:
def load_file(filename):
    with open(filename, encoding='utf-8-sig') as f:
        data, cols = [], []
        for i, line in enumerate(f.read().splitlines()):
            if i == 0:
                cols += line.split(',')
            else:
                data.append([float(x) for x in line.split(',')])
        df = pd.DataFrame(data, columns=cols)
    return df
load_file(filename).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63.0,1.0,3.0,145.0,233.0,1.0,0.0,150.0,0.0,2.3,0.0,0.0,1.0,1.0
1,37.0,1.0,2.0,130.0,250.0,0.0,1.0,187.0,0.0,3.5,0.0,0.0,2.0,1.0
2,41.0,0.0,1.0,130.0,204.0,0.0,0.0,172.0,0.0,1.4,2.0,0.0,2.0,1.0
3,56.0,1.0,1.0,120.0,236.0,0.0,1.0,178.0,0.0,0.8,2.0,0.0,2.0,1.0
4,57.0,0.0,0.0,120.0,354.0,0.0,1.0,163.0,1.0,0.6,2.0,0.0,2.0,1.0

## Pickles

In [24]:
df = pd.read_pickle('heart.pkl')
df.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1